[submodule "themes/site"]
	path = themes/site
	url = git@github.com:zbrox/site.git

[submodule "themes/anpu"]
	path = themes/anpu
	url = git@github.com:zbrox/anpu-zola-theme.git

[submodule "themes/zbrox-hermit"]
	path = themes/zbrox-hermit
	url = git@github.com:zbrox/site.git
